body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

section {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
strong {
  color: blue;
}
section:nth-of-type(odd) {
  background-color: #2ECC71
  ;
  color: black;
}
section:nth-of-type(even) {
  background-color: #27AE60
  ;
  color: black;
}
